.main-container{
    margin: 0 auto;
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
}

.game-button, .ai-button{
    border: none!important;
}

.hidden-element{
    display: none;
}

.image{
    background-color: white;
    width:200px;
    height:200px
}